# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js Build Outputs
/.next/
/out/
/build
/dist

# Production & Packaging
*.tsbuildinfo
next-env.d.ts

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Environment Variables & Secrets
.env
.env*.local
.env.development
.env.production
.env.test
*.pem

# Vercel
.vercel

# Testing & Coverage
/coverage
.nyc_output

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# IDE & Editor Configs
.idea/
*.swp
*.swo
*~
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
